<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- 数据库连接池 -->
  <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://127.0.0.1:3306/shiro"/>
    <property name="username" value="root"/>
    <property name="password" value="root"/>
  </bean>

  <!-- Base DAO -->
  <bean id="baseDao" abstract="true">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <!-- DAO -->
  <bean id="permissionDao" class="io.github.dunwu.spring.security.shiro.dao.PermissionDaoImpl" parent="baseDao"/>
  <bean id="roleDao" class="io.github.dunwu.spring.security.shiro.dao.RoleDaoImpl" parent="baseDao"/>
  <bean id="userDao" class="io.github.dunwu.spring.security.shiro.dao.UserDaoImpl" parent="baseDao"/>

  <!-- Service -->
  <bean id="permissionService" class="io.github.dunwu.spring.security.shiro.service.PermissionServiceImpl">
    <property name="permissionDao" ref="permissionDao"/>
  </bean>

  <bean id="roleService" class="io.github.dunwu.spring.security.shiro.service.RoleServiceImpl">
    <property name="roleDao" ref="roleDao"/>
  </bean>

  <bean id="passwordHelper" class="io.github.dunwu.spring.security.shiro.service.PasswordHelper">
    <property name="algorithmName" value="md5"/>
    <property name="hashIterations" value="2"/>
  </bean>

  <bean id="userService" class="io.github.dunwu.spring.security.shiro.service.UserServiceImpl">
    <property name="userDao" ref="userDao"/>
    <property name="passwordHelper" ref="passwordHelper"/>
  </bean>
</beans>
