<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Bean declarations go here -->

  <!-- 构造注入 -->
  <bean id="poetry" class="io.github.dunwu.spring.ioc.annotation.inject.Poetry">
    <constructor-arg value="将进酒" />
  </bean>
  <bean id="libai" class="io.github.dunwu.spring.ioc.annotation.inject.Poet">
    <constructor-arg value="李白" />
    <constructor-arg ref="poetry" />
  </bean>

  <!-- setter注入 -->
  <bean id="piano" class="io.github.dunwu.spring.ioc.annotation.inject.instrument.Piano" />
  <bean id="chopin" class="io.github.dunwu.spring.ioc.annotation.inject.Musician">
    <property name="song" value="夜曲" />
    <property name="name" value="肖邦" />
    <property name="instrument" ref="piano" />
  </bean>

  <!-- 工厂方法创建Bean -->
  <bean id="beanFactory" class="io.github.dunwu.spring.ioc.annotation.factory.BeanFactory" factory-method="getInstance" />
</beans>
