<?xml version="1.0" encoding="UTF-8"?>
<!-- 在beans中使用default-autowire，可为全局配置自动装配属性，如果不配置，默认值是null，即不会自动装配 -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd"
  default-autowire="byType">

  <!-- Bean declarations go here -->
  <!-- 自动装配byName -->
  <bean id="instrument" class="io.github.dunwu.spring.ioc.annotation.autowire.instrument.Piano" />
  <bean id="chopinbyName" class="io.github.dunwu.spring.ioc.annotation.autowire.Musician" autowire="byName">
    <property name="song" value="夜曲" />
    <property name="name" value="肖邦" />
  </bean>

  <!-- 自动装配byType -->
  <!-- 如果寻找到多个与自动装配的属性类型相匹配的Bean，则Spring会抛出异常 -->
  <!-- <bean id="guitar" claio.github.dunwu024.spring.beans.autowire.instrument.Guitar" /> -->
  <bean id="chopinbyType" class="io.github.dunwu.spring.ioc.annotation.autowire.Musician" autowire="byType">
    <property name="song" value="夜曲" />
    <property name="name" value="肖邦" />
  </bean>

  <!-- 自动装配constructor -->
  <!-- 如果寻找到多个与自动装配的属性类型相匹配的Bean，则Spring会抛出异常 -->
  <bean id="poetry" class="io.github.dunwu.spring.ioc.annotation.autowire.Poetry">
    <constructor-arg value="将进酒" />
  </bean>
  <bean id="libai" class="io.github.dunwu.spring.ioc.annotation.autowire.Poet" autowire="constructor">
    <constructor-arg value="李白" />
  </bean>
</beans>
