<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Bean declarations go here -->

  <bean id="piano" class="io.github.dunwu.spring.ioc.annotation.inject.instrument.Piano" />
  <bean id="guitar" class="io.github.dunwu.spring.ioc.annotation.inject.instrument.Guitar" />
  <bean id="violin" class="io.github.dunwu.spring.ioc.annotation.inject.instrument.Violin" />

  <!-- 装配Collection/List -->
  <bean id="band" class="io.github.dunwu.spring.ioc.annotation.inject.Band">
    <!-- 装配list -->
    <property name="collections">
      <list>
        <ref bean="piano" />
        <ref bean="guitar" />
        <ref bean="violin" />
      </list>
    </property>
    <property name="list">
      <list>
        <ref bean="piano" />
        <ref bean="guitar" />
        <ref bean="violin" />
      </list>
    </property>
    <!-- 装配set -->
    <property name="set">
      <set>
        <ref bean="piano" />
        <ref bean="guitar" />
        <ref bean="violin" />
        <ref bean="piano" />
      </set>
    </property>
    <!-- 装配map -->
    <property name="map">
      <map>
        <entry key="PIANO" value-ref="piano" />
        <entry key="GUITAR" value-ref="guitar" />
        <entry key="VIOLIN" value-ref="violin" />
      </map>
    </property>
  </bean>
</beans>
