<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

  <!-- 构造注入 -->
  <bean id="poetry" class="org.zp.notes.spring.inject.Poetry">
    <constructor-arg value="将进酒" />
  </bean>
  <bean id="libai" class="org.zp.notes.spring.inject.Poet">
    <constructor-arg value="李白" />
    <constructor-arg ref="poetry" />
  </bean>

  <!-- getter、setter注入 -->
  <bean id="piano" class="org.zp.notes.spring.inject.Piano" />
  <bean id="chopin" class="org.zp.notes.spring.inject.Musician">
    <property name="song" value="夜曲" />
    <property name="name" value="肖邦" />
    <property name="instrument" ref="piano" />
  </bean>
</beans>