<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- Console Appender -->
  <appender name="STDOUT-APPENDER" class="org.apache.log4j.ConsoleAppender">
    <param name="encoding" value="UTF-8" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] [%l] - %m%n" />
    </layout>
  </appender>

  <!-- Default Appender -->
  <appender name="ALL-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${catalina.home}/logs/spring-helloworld/all.log" />
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] [%l] - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="ERROR" />
    </filter>
  </appender>

  <!-- Debug Appender -->
  <appender name="DEBUG-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${catalina.home}/logs/spring-helloworld/debug.log" />
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] [%l] - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="debug" />
      <param name="LevelMax" value="debug" />
    </filter>
  </appender>

  <!-- info Appender -->
  <appender name="INFO-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${catalina.home}/logs/spring-helloworld/info.log" />
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] [%l] - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="info" />
      <param name="LevelMax" value="info" />
    </filter>
  </appender>

  <!-- warn Appender -->
  <appender name="WARN-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${catalina.home}/logs/spring-helloworld/warn.log" />
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] [%l] - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="warn" />
      <param name="LevelMax" value="warn" />
    </filter>
  </appender>

  <!-- error Appender -->
  <appender name="ERROR-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${catalina.home}/logs/spring-helloworld/error.log" />
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] [%l] - %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="error" />
      <param name="LevelMax" value="error" />
    </filter>
  </appender>

  <!-- spring Appender -->
  <appender name="SPRING-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="file" value="${catalina.home}/logs/spring-helloworld/spring.log" />
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} [%-5p] [%l] - %m%n" />
    </layout>
  </appender>

  <category name="org.springframework">
    <priority value="warn" />
    <appender-ref ref="SPRING-APPENDER" />
  </category>

  <!-- root logger -->
  <root>
    <appender-ref ref="ALL-APPENDER" />
    <appender-ref ref="DEBUG-APPENDER" />
    <appender-ref ref="INFO-APPENDER" />
    <appender-ref ref="WARN-APPENDER" />
    <appender-ref ref="ERROR-APPENDER" />
  </root>
</log4j:configuration>