<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

  <bean id="beanPostProcessor" class="io.github.dunwu.spring.bean.MyBeanPostProcessor">
  </bean>

  <bean id="instantiationAwareBeanPostProcessor"
    class="io.github.dunwu.spring.bean.MyInstantiationAwareBeanPostProcessor">
  </bean>

  <bean id="beanFactoryPostProcessor" class="io.github.dunwu.spring.bean.MyBeanFactoryPostProcessor">
  </bean>

  <bean id="person" class="io.github.dunwu.spring.bean.Person" init-method="myInit"
    destroy-method="myDestory" scope="singleton" p:name="张三" p:address="广州"
    p:phone="15900000000"/>

</beans>
