html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("https://raw.githubusercontent.com/dunwu/images/master/common/wallpaper/wallhaven-4lwj9l.jpg");
  transition: All 2s ease;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-transition: All 2s ease;
  -moz-transition: All 2s ease;
  -o-transition: All 2s ease;
}

body::-webkit-scrollbar {
  display: none
}

body.one-column #container {
  margin: 0 auto;
  padding: 1em;

  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1.5em;
  color: #fefefe;

  overflow: auto;
  position: absolute;

  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  max-height: 80%;
  min-height: 300px;
  min-width: 90%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body.one-column #container::-webkit-scrollbar {
  display: none
}

body.one-column #container p,
body.one-column #container a {
  color: #fefefe;
  text-shadow: 0 1px 1px #333;
  text-decoration: none
}

body.one-column #container a:hover {
  color: #fefefe;
  font-weight: bolder;
  text-decoration: underline;
  font-style: italic;
}

body.one-column #page-alpha {
  margin: auto;
}

body.one-column #page-alpha .form-group label {
  width: 60%;
  border-radius: 0.5em;
  text-shadow: 0 1px 1px #333;
  margin: 1em auto auto;
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

body.one-column #page-alpha .form-group .form-control {
  color: #fefefe;
  background-color: rgba(222, 219, 214, 0.5);
  width: 60%;
  border-radius: 0.5em;
  text-shadow: 0 1px 1px #333;
  margin: 1em auto auto;
}

body.one-column .btn {
  background-color: rgba(0, 0, 0, 0.5);
  width: 60%;
  border-radius: 0.5em;
  text-shadow: 0 1px 1px #333;
  margin: 1em auto auto;
  border: 1px solid #ced4da;
}

body.one-column .btn:hover {
  color: #fefefe;
  font-weight: bolder;
  text-decoration: underline;
  font-style: italic;
}

body.one-column #header {
  padding-bottom: 1em;
}

body.one-column #container h1 {
  color: #fefefe;
  float: none;
  margin: auto;
  padding-top: 0.4rem;
  text-align: center;
  font-weight: 600;
}

body.one-column #container h2 {
  /*font-size: 1.4rem;*/
  color: #fefefe;
  float: none;
  margin: auto;
  padding-top: 0.4rem;
  text-align: center;
  background-image: -webkit-linear-gradient(left, #FFDCB4, #B96972 25%, #E88A57 50%, #804170 75%, #A596CD);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: masked-animation 3s infinite linear;
  font-weight: 600;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

body.one-column #header-content h1:hover {
  cursor: pointer;
}

body.one-column #header-content p {
  text-align: center;
}

body.one-column #header-content {
  display: block;
  text-align: center;
  margin: auto;
}

@media (min-width: 641px) and (max-width: 770px) {
  body.one-column #container {
    min-width: 70%;
  }
}

@media (min-width: 771px) {
  body.one-column #container {
    min-width: 40%;
  }
}

body.one-column #container.folded {
  top: 15px;
  margin-top: 5px;
  height: 6px;
  overflow: hidden;
}


body.one-column #content #alpha {
  padding-top: 0.5em;
}

#footer {
  margin: 0 1em;
  border-top: 1px solid #d3d3d3;
  color: #d3d3d3;
  padding-top: 0;
  clear: both;
  line-height: 1.2;
}

#footer p {
  float: right;
  text-align: right;
  padding: 0.3em 0.1em 0.1em 0.3em;
  color: gray;
}

#img_placer span {
  background-image: url(https://raw.githubusercontent.com/dunwu/images/master/common/wallpaper/wallhaven-4lwj9l.jpg);
  width: 0;
  height: 0;
  display: inline;
}
